<div class="container">
   <div class="page-header">
      <h1>Octangles</h1>
      <small>UNSW timetable generator for 2013 Semester 1</small>
   </div>
   <form method="POST" action="/">
      <label>Courses</label>
      <input class="span6" type="text" placeholder="Courses, separated by commas" name="courses" value="<%= @input_courses %>"/>

      <label>Allowed clash hours</label>
      <input class="span4" type="text" placeholder="Maximum of 3" name="clash" value="<%= @clash %>"/>

      <label>Sort timetables by <small>(select in order from most important to least) <a id="sort_reset">reset</a> </small></label>
      <% @sort_options.keys.each do |s| %>
         <label class="checkbox">
         <input class="sort_by" type="checkbox" name="sort_by" value="<%= s %>" <% if @sort_by == s %> checked <% end %> />
            <%= @sort_options[s] %>
         </label>
      <% end %>

      <input id="sort_by_ordered" class="span5" type="text" name="sort_by_ordered" readonly="readonly"/><br />

      <input type="submit" value="Generate" class="btn" />
   </form>

   <% if @timetables.size > 0 %>
      <p><%= @timetables.size %> timetables generated.</p>
   <% elsif @input_courses %>
      <p>No valid timetables found.</p>
   <% end %>

   <% if @timetables %>
      <% @timetables.each do |t| %>   
         <%= t.to_html %>
      <% end %>
   <% end %>
</div>
